@import "tailwindcss";

body {
  @apply flex items-center justify-center min-h-screen bg-blue-100 font-sans;
}

@theme {
  --font-sans: "Ubuntu", sans-serif;

  --color-blue-50: hsl(231, 100%, 99%);
  --color-blue-100: hsl(218, 100%, 97%);
  --color-blue-200: hsl(206, 94%, 87%);
  --color-blue-300: hsl(228, 100%, 84%);
  --color-blue-950: hsl(213, 96%, 18%);

  --color-red-500: hsl(354, 84%, 57%);
  --color-purple-200: hsl(229, 24%, 87%);
  --color-purple-600: hsl(243, 100%, 62%);
  --color-grey-500: hsl(231, 11%, 63%);
}